body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  width: 100%;
  margin: auto;
  padding: 0%;
}

.icono {
  width: 100px;
  height: 100px;
}

div .titulo *{
  margin: 0%;
  padding: 0%;
}