body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  width: 100%;
  margin: auto;
  padding: 0%;
}

i {
  margin: 0%;
  text-align: end;
  padding-top: 1em;
}

div .titulo *{
  margin: 0%;
  padding: 0%;
}